/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: url('OIP.jpeg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.header-content a {
    color: #1171d8;
}

.header-content a:hover {
    color: #095db6;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

nav {
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 50px 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    margin: 20px;
    transition: transform 0.3s;
    opacity: 0;
    transform: translateY(100px); /* Parte più in basso */
    animation: moveUp 0.5s ease-out forwards;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    background: linear-gradient(45deg, #4b9e4d, #208625);
    transition: background 0.3s ease, transform 0.1s;
}

button:hover {
    background: linear-gradient(45deg, #208625, #4b9e4d); /* Inverti i colori del gradiente */
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Layout Responsive */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .card {
        width: 90%;
    }
}

/* Stile per il container del capitolo */
.chapter-container {
    background-color: #f0f4f8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    opacity: 0;
    transform: translateY(100px); /* Parte più in basso */
    animation: moveUp 0.5s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chapter-container h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.chapter-container ul {
    list-style-type: none;
    padding-left: 0;
}

.chapter-container ul li {
    margin-bottom: 10px;
}

.chapter-container ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1em;
    transition: color 0.3s ease;
    cursor: pointer; /* Cambia il cursore per i link */
}

.chapter-container ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.chapter-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(100px); /* Parte più in basso */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Torna alla posizione originale */
    }
}